.home-container .state-mailbox, .home-container .state-error {
    margin: 2em;
    text-align: center;
}

.home-container .state-mailbox > img, .home-container .state-error > img {
    width: 70%;
    max-width: 400px;
}

.home-container .state-mailbox > p, .home-container .state-error > p {
    font-size: 1.1em;
}

.home-container .state-error > p {
    color: red;
}